<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
		"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>CFBundleName</key>
		<string>Nockx</string>
		<key>CFBundleExecutable</key>
		<string>SecureChat</string>
		<key>CFBundleIdentifier</key>
		<string>com.demonexposer.nockx</string>
		<key>CFBundleVersion</key>
		<string>1.0</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0</string>
		<key>CFBundleIconFile</key>
		<string>nockx-icon.icns</string>
	</dict>
</plist>